<div class="album py-5 bg-body-tertiary ">
  <div class="container text-center mb-5">
    <h2>
      GET READY & BE IN THE KNOW</h2>
    <p>
      Stay tuned for the grand launch and get ready to take your brand to new heights with our easy-to-use dropshipping solution.</p>
  </div>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/bg_5.jpg" alt="">
            <div class="card-body">
              <p class="card-title">Mockup Master: Design Your Own Creations with Ease!</p>
              <p class="card-text">At our online store, we believe in giving you the power to bring your unique vision to life. Introducing our innovative "Design Your Own" feature, where you have the creative freedom to craft custom mockups for the items you're looking to sell or purchase.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  See more
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/bg_4.jpg" alt="">
            <div class="card-body">
              <p class="card-title">AI-Powered Image Generation</p>
              <p class="card-text">Unleash Your Creativity with AI-Generated Images</p>
              <p class="card-text">Welcome to our cutting-edge AI-powered customization section, where you have the power to bring your unique vision to life. With our innovative technology, you can now effortlessly create personalized images to adorn your favorite products.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  See more
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/bg_2.jpg" alt="">
            <div class="card-body">
              <p class="card-title">Explore Our Product Range</p>
              <p class="card-text">Welcome to our online store! Here, you have the opportunity to browse through an extensive collection of products available. We've carefully curated each item to ensure it meets the highest standards of quality and style. From the latest trends to timeless classics, you'll find something for every taste and preference.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  See more
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
