<div class="image-bg" style="position: relative; z-index: 1;">
    <div class="opacity-layer pt-3 d-flex flex-column" style="position: relative; z-index: 2;">

        <div class="container mb-4 bg-light notification p-4 px-5 rounded-3 shadow-lg">
            <div class="row d-flex ">
                <div class="col-lg-6 d-flex justify-content-center flex-column gap-3">
                    <h1 class="hiper-text">Sorry...!</h1>
                    <h4>Site under construction</h4>
                    <p>We're working hard to bring you something amazing!
                        Stay tuned as we build and refine our website.
                        Thank you for your patience and support.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                        <button type="button"
                            class="btn btn-primary btn-lg px-4 me-md-2 fw-bold d-flex align-items-center gap-3"
                            routerLink="/home">
                            <i class="fa-solid fa-angle-left"></i>
                            Go back
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 image-build text-center">
                    <img src="../../../assets/images/building-1.png" width="70%" alt="">
                </div>
            </div>
        </div>

    </div>
</div>